{% extends 'base.html.twig' %}

{% block title %}Nouveau projet — TP Manager{% endblock %}

{% block body %}
    <h1>Nouveau projet pour {{ eleve.prenom }} {{ eleve.nom }}</h1>
    {{ form_start(form) }}
        <div class="row">{{ form_row(form.nom) }}</div>
        <button type="submit">Créer</button>
    {{ form_end(form) }}
{% endblock %}
